 
 

<!-- <button class="btn btn-success" (click)="sdetails()">S DETAILS</button></div>  -->
<ul class="nav flex-column">
    <li class="nav-item">
        <a [routerLink]="['/user',1,'D']" class="nav-link">get D DETAILS</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/user',1,'s']"  class="nav-link">get S DETAILS</a>
    </li><li class="nav-item">
        <a [routerLink]="['/user',1,'R']"  class="nav-link">get R DETAILS</a>
    </li>
</ul>

<router-outlet></router-outlet>

    
